@import "tailwindcss";

h1 {
    font-family: "Playfair+Display";
    font-size: 32px;
}

main h2 {
    font-family: "Inter";
    font-size: 30px;
    color: white;
}

.name-span {
    display: none;
}

.loading-spinner {
    display: none;
}