@import "tailwindcss";

@layer components {
    .card-div {
        @apply block w-70 h-auto border rounded-md overflow-hidden bg-gray-100 flex flex-col items-center justify-center;
    }
}



.card-link {
    @apply w-full;
}

.auction-img {
    @apply w-full h-60 object-cover;
}

.card-div {
    @apply flex flex-col gap-2;
}

.card-body {
    @apply flex flex-col gap-6;
}

.auction-title {
    @apply text-2xl;
}

.bid-number {
    @apply font-bold text-sm text-red-500;
}

.bid-deadline {
    @apply font-bold;
}

.btn-bid {
    @apply font-bold text-white bg-[#B77466] rounded-lg p-1 cursor-pointer mb-2 mt-2;
}


/* PROFILE PAGE */

.profile-section {
    @apply mx-18 border pt-8 py-4 mb-6
}

.banner-div {
    @apply w-full h-65 relative object-cover
}

.profile-img {
    @apply w-50 h-50 rounded-full absolute left-30 top-[65%]
}

.info-div {
    @apply flex flex-row mx-auto justify-evenly gap-12 mt-4 mb-12 flex-wrap
}

.text-div {
    @apply mr-12
}


.text-div {
    @apply flex flex-col justify-around gap-6
}

.profile-name {
    @apply text-2xl font-semibold
}

.info-btn-div {
    @apply flex flex-row gap-6 justify-around
}

.edit-btn {
    @apply border p-2 mt-2 bg-[#957C62] text-white rounded-md 
}

.update-btn {
    @apply border p-2 mt-2 bg-[#957C62] text-white rounded-md hidden
}

.profile-input {
    @apply border border-black  pl-2 p-1 hidden
}

/*.interacted-auctions {
    @apply border mx-18 m-6 p-6 
} */

.interacted-auctions {
    @apply flex flex-row justify-center gap-4 flex-wrap pt-12 m-6 p-6 
}

.auction-text {
    @apply flex justify-center font-bold text-2xl
}

.empty-bid {
    @apply flex justify-center mb-6
}

/* Auction Page */

.auction-heading {
    @apply text-2xl mx-auto flex justify-center my-8
}

.img-one {
    @apply w-100 h-100 object-cover
}

.auction-img-div {
    @apply flex flex-col gap-2 my-4 mx-8 
}

.img-two,
.img-three, 
.img-four {
    @apply w-30 h-30 object-cover 
}

.row-img {
    @apply flex flex-row gap-2 ml-4
}

.auction-content {
    @apply flex flex-row gap-24  bg-[#F6F3EE] mx-8
}

.bid-btn {
     @apply border p-1 cursor-pointer mt-2 bg-[#957C62] text-white rounded-md mx-auto hover:bg-[#957C62] 
}

.input-bid {
    @apply border mx-auto p-1 rounded-md pl-2 hidden
}

.bid-info {
    @apply mx-4 mt-8
}

.auction-info {
    @apply flex flex-col gap-2 justify-start mx-auto items-start
}

.bid-end {
    @apply font-bold mx-4 mt-4
}

.bid-count {
    @apply mx-4 mt-8
}

.profile-auction {
    @apply flex flex-row gap-2 items-center mt-2
}

.profile-wrapper {
    @apply flex flex-col
}

.profile-img-auction {
    @apply w-20 h-20 object-cover rounded-full
}

.bid-wrapper {
    @apply flex flex-row gap-2 mx-auto mt-8 justify-center flex-wrap
}

.bid-container {
    @apply flex flex-col border p-1 
}
