@import "tailwindcss";

@layer components {
    .card-div {
        @apply block w-70 h-auto border rounded-md overflow-hidden bg-gray-100 flex flex-col items-center justify-center;
    }
}



.card-link {
    @apply w-full;
}

.auction-img {
    @apply w-full h-30 sm:h-60 object-cover  ;
}

.card-div {
    @apply flex flex-col gap-2;
}

.card-body {
    @apply ml-2;
}

.auction-title {
    @apply text-sm sm:text-2xl;
}

.bid-number {
    @apply font-bold text-sm text-red-500;
}

.bid-deadline {
    @apply font-bold;
}

.btn-bid {
    @apply font-bold text-white bg-[#B77466] rounded-lg p-1 cursor-pointer mb-2 mt-2;
}


/* PROFILE PAGE */
.profile-section {
    @apply mx-8 sm:mx-18 border pt-8 py-4 mb-6;
}

.banner-div {
    @apply w-full h-35 object-cover sm:relative sm:h-65 ; /* relative only on sm+ screens */
}

.profile-img {
    @apply w-35 h-35 rounded-full rounded-full sm:rounded-full object-cover top-[65%] sm:absolute  sm:w-50 sm:h-50 sm:left-30 sm:top-[65%]; 
    /* on mobile it will stay static (default), absolute only on sm+ */
}

.info-div {
    @apply flex  sm:flex-row mx-auto justify-evenly gap-12 mt-4 mb-12 flex-wrap
}

.text-div {
    @apply mr-12 
}


.text-div {
    @apply flex flex-col justify-around gap-6
}

.profile-name {
    @apply text-2xl font-semibold
}

.info-btn-div {
    @apply flex flex-row gap-6 justify-around flex-wrap
}

.edit-btn {
    @apply border p-2 mt-2 bg-[#957C62] text-white rounded-md 
}

.update-btn {
    @apply border p-2 mt-2 bg-[#957C62] text-white rounded-md hidden
}

.profile-input {
    @apply border border-black  pl-2 p-1 hidden
}

/*.interacted-auctions {
    @apply border mx-18 m-6 p-6 
} */

.interacted-auctions {
    @apply flex flex-row justify-center gap-4 flex-wrap pt-12 m-6 p-6 
}

.auction-text {
    @apply flex justify-center font-bold text-2xl
}

.empty-bid {
    @apply flex justify-center mb-6
}

/* Auction Page */

.auction-heading {
    @apply text-2xl mx-auto flex justify-center my-8
}

.img-one {
    @apply sm:w-100 sm:h-100 object-cover hidden md:block
}

.auction-img-div {
    @apply flex flex-col gap-2 my-4 mx-8 flex-wrap
}

.img-two,
.img-three, 
.img-four {
    @apply sm:w-30 sm:h-30 object-cover flex
}

.img-two {
    @apply  w-60 h-60 md:hidden;
}

.img-three,
.img-four {
    @apply hidden md:block
}

.row-img {
    @apply flex flex-row gap-2 ml-4 mx-auto
}

.auction-content {
    @apply flex flex-col md:flex-row gap-24  bg-[#F6F3EE] mx-8
}

.bid-btn {
     @apply border p-1 cursor-pointer mt-2 bg-[#957C62] text-white rounded-md mx-auto hover:bg-[#957C62] 
}

.input-bid {
    @apply border mx-auto p-1 rounded-md pl-2 hidden
}

.bid-info {
    @apply mx-4 mt-8
}

.auction-info {
    @apply flex flex-col sm:gap-2 justify-start ml-4 sm:mx-auto items-start
}

.bid-end {
    @apply font-bold mx-4 mt-4
}

.bid-count {
    @apply mx-4 mt-8
}

.profile-auction {
    @apply flex flex-row gap-2 items-center mt-2
}

.profile-wrapper {
    @apply flex flex-row gap-2
}

.profile-img-auction {
    @apply w-20 h-20 object-cover rounded-full
}

.bid-wrapper {
    @apply flex flex-row gap-2 mx-auto mt-8 justify-center flex-wrap
}

.bid-container {
    @apply text-sm  flex flex-col border p-1 
}

